{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}

    {% if app.session.flashBag.has('success') %}
        {% for msg in app.flashes('success') %}        
            <div class="alert-success">
                {{ msg }}
            </div>
        {% endfor %}             
    {% endif %}

    {% if app.user.isVerified %}
        <div class="container-page">
        {% if app.user %}

            <h1>Liste des formations</h1>        

            <div class="page-elements">
                <p><a class="add-link" href="{{ path('add_formation') }}">Ajouter une Formation</a></p>

                {% if listeFormations | length > 0 %}
                <table>
                    <tr>
                        <th>Formation</th>
                        <th>Nombre de sessions</th>
                        <th>Actions</th>
                    </tr>
                    {% for formation in listeFormations %}   
                        <tr>
                            <td data-label="Formation"><a class="formation-title" href="{{ path('show_formation', {'id': formation.id}) }}">{{ formation.intitule }}</a></td>
                            <td data-label="Nombre de sessions">{{ formation.sessions | length }}</td>
                            <td data-label="Actions" class="table-actions">
                                <a href="{{ path('edit_formation', {'id': formation.id}) }}"><i class="fa-regular fa-pen-to-square"></i></a>
                                <a href="{{ path('remove_formation', {'id': formation.id}) }}"><i class="fa-regular fa-trash-can"></i></a>
                            </td>
                        </tr>
                    {% endfor %}            
                </table>   
                {% else %} 
                    <p class="no-data">Pas de formations...</p>
                {% endif %}
            </div>
        {% else %}
            <p>Merci de bien vouloir vous connecter pour accéder au contenu</p>
        {% endif %}

        </div>
    {% else %}
        <div class="verifier-mail-page">
            <h2>Merci de bien vouloir vérifier vos mails pour accéder au contenu</h2>        
        </div>
    {% endif %}

{% endblock %}