{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}

    {% if app.session.flashBag.has('success') %}
        {% for msg in app.flashes('success') %}        
            <div class="alert-success">
                {{ msg }}
            </div>
        {% endfor %}             
    {% endif %}

    <div class="container-page">
    {% if app.user %}

        <h1>Liste des formations</h1>        

        <div class="page-elements">
            <p><a href="{{ path('add_formation') }}">Ajouter une Formation</a></p>

            <table>
                <tr>
                    <th>Formation</th>
                    <th>Nombre de sessions</th>
                    <th>Actions</th>
                </tr>
                {% for formation in listeFormations %}   
                    <tr>
                        <td><a href="{{ path('show_formation', {'id': formation.id}) }}">{{ formation.intitule }}</a></td>
                        <td>{{ formation.sessions | length }}</td>
                        <td>
                            <a href="{{ path('edit_formation', {'id': formation.id}) }}">Edit</a>
                            <a href="{{ path('remove_formation', {'id': formation.id}) }}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}            
            </table>                    
        </div>
    {% else %}
        <p>Merci de bien vouloir vous connecter pour accéder au contenu</p>
    {% endif %}

    </div>

{% endblock %}