{% extends 'base.html.twig' %}

{% block title %}Détail formation{% endblock %}

{% block body %}

    <div class="container-page">
        <h1> Détail de la formation {{ formation }} </h1>

        <div class="page-elements">

            <div class="element">
                <p><a href="{{ path('app_formation') }}">Retour</a></p>                
            </div>

            <div class="element">
                <p>Ajouter une session à la formation :</p>
                {{ form(formAddSession) }}
            </div>

            <div class="element">
                <h2>Sessions en cours</h2>
                {% if progressSessions | length > 0 %}
                <table>
                    <tr>
                        <th>Formation</th>
                        <th>Intitule</th>
                        <th>Date de début</th>
                        <th>Date de fin</th>
                        <th>Inscrits</th>
                        <th>Actions</th>
                        <th>Statut</th>
                    </tr>
                    {% for session in progressSessions %}   
                        <tr>
                            <td>{{ session.formation }}</td>
                            <td><a href="{{ path('show_session', {'id': session.id}) }}">{{ session.intitule }}</a> </td>
                            <td>{{ session.dateDebut | date("d-m-Y") }}</td>
                            <td>{{ session.dateFin | date("d-m-Y") }}</td> 
                            <td> {{ session.stagiaires | length }} / {{ session.nbPlaces }}</td>
                            <td>
                                <a href='{{ path('edit_session', {'id': session.id}) }}'><i class="fa-regular fa-pen-to-square"></i></a>
                                <a href="{{ path('remove_session', {'id': session.id}) }}"><i class="fa-regular fa-trash-can"></i></a>
                            </td>
                            {% if session.stagiaires | length == session.nbPlaces %}
                                <td class="complet">Complet</td>      
                            {% else %}  
                                <td class="ouvert">Ouvert</td>     
                            {% endif %}                     
                        </tr>
                    {% endfor %}            
                </table>     
                {% else %} 
                    <p>Pas de sessions en cours pour cette formation...</p>
                {% endif %}
            </div>

            <div class="element">
                <h2>Sessions à venir</h2>
                {% if futureSessions | length > 0 %}
                <table>
                    <tr>
                        <th>Formation</th>
                        <th>Intitule</th>
                        <th>Date de début</th>
                        <th>Date de fin</th>
                        <th>Inscrits</th>
                        <th>Actions</th>
                        <th>Statut</th>
                    </tr>
                    {% for session in futureSessions %} 
                        <tr>
                            <td>{{ session.formation }}</td>
                            <td><a href="{{ path('show_session', {'id': session.id}) }}">{{ session.intitule }}</a> </td>
                            <td>{{ session.dateDebut | date("d-m-Y") }}</td>
                            <td>{{ session.dateFin | date("d-m-Y") }}</td> 
                            <td> {{ session.stagiaires | length }} / {{ session.nbPlaces }}</td>
                            <td>
                                <a href='{{ path('edit_session', {'id': session.id}) }}'><i class="fa-regular fa-pen-to-square"></i></a>
                                <a href="{{ path('remove_session', {'id': session.id}) }}"><i class="fa-regular fa-trash-can"></i></a>
                            </td>
                            {% if session.stagiaires | length == session.nbPlaces %}
                                <td class="complet">Complet</td>      
                            {% else %}  
                                <td class="ouvert">Ouvert</td>     
                            {% endif %}       
                        </tr>  
                    {% endfor %}            
                </table>    
                {% else %} 
                    <p>Pas de sessions futures prévues pour cette formation...</p>
                {% endif %}
            </div>

            <div class="element">
                <h2>Sessions passées</h2>
                {% if pastSessions | length > 0 %}
                <table>
                    <tr>
                        <th>Formation</th>
                        <th>Intitule</th>
                        <th>Date de début</th>
                        <th>Date de fin</th>
                        <th>Inscrits</th>
                        <th>Actions</th>
                        <th>Statut</th>
                    </tr>
                    {% for session in pastSessions %}   
                        <tr>
                            <td>{{ session.formation }}</td>
                            <td><a href="{{ path('show_session', {'id': session.id}) }}">{{ session.intitule }}</a> </td>
                            <td>{{ session.dateDebut | date("d-m-Y") }}</td>
                            <td>{{ session.dateFin | date("d-m-Y") }}</td> 
                            <td> {{ session.stagiaires | length }} / {{ session.nbPlaces }}</td>
                            <td>
                                <a href='{{ path('edit_session', {'id': session.id}) }}'><i class="fa-regular fa-pen-to-square"></i></a>
                                <a href="{{ path('remove_session', {'id': session.id}) }}"><i class="fa-regular fa-trash-can"></i></a>
                            </td>
                            <td>x</td>                
                        </tr>
                    {% endfor %}            
                </table>    
                {% else %} 
                    <p>Pas de sessions passées pour cette formation...</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}