{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container-page">
        <h1>Inscrivez-vous</h1>

        <div class="page-elements">
            <div class="element">
                {{ form_start(registrationForm) }}
                <div class="formulaire formulaire-ext">
                    <div class="form-element form-element-ext">
                        <label>Email :</label>
                        {{ form_row(registrationForm.email) }}                        
                    </div>
                    <div class="form-element form-element-ext">
                        <label>Pseudo :</label>
                        {{ form_row(registrationForm.pseudo) }}                        
                    </div>
                    <div class="form-element pass">
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}                        
                    </div>
                    <div class="form-element form-element-ext">
                        <label>Agree terms :</label>
                        {{ form_row(registrationForm.agreeTerms) }}
                    </div>
                    <div class="form-element form-element-ext">
                        <button type="submit" class="btn">S'inscrire</button>                        
                    </div>
                </div>

                {{ form_end(registrationForm) }}                      
            </div>
            
            <div class="element">
                <p id="connexion">Ou <a href="{{ path('app_login') }}">Connectez-vous</a></p>
            </div>
        </div>
    </div>

{% endblock %}
