{% extends 'base.html.twig' %}

{% block title %} Ajout stagiaire{% endblock %}

{% block body %}


    {% if edit %}
        <h1> Editer le stagiaire </h1>
    {% else %}
        <h1> Ajouter un stagiaire </h1>
    {% endif %}


    {{ form_start(formAddStagiaire) }}
        {{ form_row(formAddStagiaire.nom) }}
        {{ form_row(formAddStagiaire.prenom) }}
        {{ form_row(formAddStagiaire.sexe) }}
        {{ form_row(formAddStagiaire.dateNaissance) }}
        {{ form_row(formAddStagiaire.ville) }}
        {{ form_row(formAddStagiaire.mail) }}
        {{ form_row(formAddStagiaire.telephone) }}
        {{ form_row(formAddStagiaire.submit) }}
    {{ form_end(formAddStagiaire) }}

{% endblock %}