{% extends 'base.html.twig' %}

{% block title %}Stagiaires{% endblock %}

{% block body %}

    {% if app.session.flashBag.has('success') %}
        {% for msg in app.flashes('success') %}        
            <div class="alert-success">
                {{ msg }}
            </div>
        {% endfor %}             
    {% endif %}

    {% if app.user.isVerified %}
        <div class="container-page">
        {% if app.user %}
            <h1>Liste des stagiaires</h1>

            <div class="page-elements">
                <a class="add-link" href="{{ path('add_stagiaire') }}">Ajouter un stagiaire</a>

                {% if stagiaires | length > 0 %}
                <table>
                    <tr>
                        <th>Nom / Prénom</th>
                        <th>Détails</th>
                        <th>Actions</th>
                    </tr>
                    {% for stagiaire in stagiaires %}
                    <tr>
                        <td data-label="Nom / prénom">{{ stagiaire }}</td>
                        <td data-label="Détails"><a class="action-link" href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">Détails</a> </td>
                        <td data-label="Actions" class="table-actions">
                            <a href="{{ path('edit_stagiaire', {'id': stagiaire.id}) }}"><i class="fa-regular fa-pen-to-square"></i></a>
                            <a href="{{ path('remove_stagiaire', {'id': stagiaire.id}) }}"><i class="fa-regular fa-trash-can"></i></a>
                        </td>
                    </tr>
                    {% endfor %}   
                </table>  
                {% else %} 
                    <p class="no-data">Pas de stagiaires..</p>
                {% endif %}
            </div>
        {% else %}
            <p>Merci de bien vouloir vous connecter pour accéder au contenu</p>
        {% endif %}
    
        </div>
    {% else %}
        <div class="verifier-mail-page">
            <h2>Merci de bien vouloir vérifier vos mails pour accéder au contenu</h2>        
        </div>
    {% endif %}



{% endblock %}
