{% extends 'base.html.twig' %}

{% block title %}Détail stagiaire{% endblock %}

{% block body %}

    <h2>Fiche stagiaire</h2>
    <h3>{{ stagiaire.prenom  }}  {{ stagiaire.nom }}</h3>

    <ul>
        <li>Sexe : {{ stagiaire.sexe }}</li>
        <li>Date de naissance : {{ stagiaire.dateNaissance | date('d-m-Y') }}  ({{ stagiaire.age }} ans)</li>
        <li>Ville : {{ stagiaire.ville }}</li>
        <li>Courriel : {{ stagiaire.mail }}</li>
        <li>Téléphone : {{ stagiaire.telephone }}</li>
    </ul>

    <h4>Sessions Prévues</h4>

    <ul>
        {% if (stagiaire.sessions | length) > 0 %}
            {% for session in stagiaire.sessions %}
                    <li><a href="{{ path('show_session', {'id': session.id}) }}">{{ session.intitule }}</a> (du {{ session.dateDebut | date('d-m-Y') }} au {{ session.dateFin | date('d-m-Y') }})</li>
            {% endfor %}   
        {% else %}
            <li>Pas de sessions prévues</li>  
        {% endif %}
    </ul>

{% endblock %}
