{% extends 'base.html.twig' %}

{% block title %} Ajout session{% endblock %}

{% block body %}

    <div class="container-page">
        {% if edit %}
            <h1>Editer la session</h1>
        {% else %}
            <h1> Ajouter une session </h1>    
        {% endif %}

            <a href="{{ path('app_session') }}">Retour</a>                   

        <div class="page-elements">
            {{ form_start(formAddSession) }}
                {{ form_row(formAddSession.intitule) }}
                {{ form_row(formAddSession.dateDebut) }}
                {{ form_row(formAddSession.dateFin) }}
                {{ form_row(formAddSession.nbPlaces) }}
                {{ form_row(formAddSession.referent) }}
                {{ form_row(formAddSession.formation) }}
                {{ form_row(formAddSession.submit) }}       
            {{ form_end(formAddSession) }}               
        </div>
    </div>



{% endblock %}