{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {% if app.session.flashBag.has('success') %}
        {% for msg in app.flashes('success') %}        
            <div class="alert-success">
                {{ msg }}
            </div>
        {% endfor %}             
    {% endif %}

    <div class="container-page">
    {% if app.user %}
        <h1> Accueil </h1>

        {# {{ dump(app.session) }} #}

        <div class="page-elements">

            <div class="element">
                <p>Bonjour {{ app.user.pseudo }}</p>                
            </div>

            <div class="element">
                <p><a href="{{ path('add_module') }}">Ajouter un module</a></p>
                <a href="{{ path('add_session') }}">Ajouter une session</a>                
            </div>

            <div class="element">
                <h2>Sessions en cours</h2>

                <table>
                    <tr>
                        <th>Formation</th>
                        <th>Session</th>
                        <th>Date de début</th>
                        <th>Date de fin</th>
                        <th>Inscrits</th>
                        <th>Actions</th>
                        <th>Statut</th>
                    </tr>
                    {% for session in progressSessions %}   
                        <tr>
                            <td>{{ session.formation }}</td>
                            <td><a href="{{ path('show_session', {'id': session.id}) }}">{{ session.intitule }}</a> </td>
                            <td>{{ session.dateDebut | date("d-m-Y") }}</td>
                            <td>{{ session.dateFin | date("d-m-Y") }}</td> 
                            <td> {{ session.stagiaires | length }} / {{ session.nbPlaces }}</td>
                            <td>
                                <a href='{{ path('edit_session', {'id': session.id}) }}'>Edit</a>
                                <a href="{{ path('remove_session', {'id': session.id}) }}">Supprimer</a>
                            </td>
                            {% if session.stagiaires | length == session.nbPlaces %}
                                <td class="complet">Complet</td>      
                            {% else %}  
                                <td class="ouvert">Ouvert</td>     
                            {% endif %}                     
                        </tr>
                    {% endfor %}            
                </table>                
            </div>

            <div class="element">

                <h2>Sessions à venir</h2>
                    {% if futureSessions | length > 0 %}
                <table>
                    <tr>
                        <th>Formation</th>
                        <th>Session</th>
                        <th>Date de début</th>
                        <th>Date de fin</th>
                        <th>Inscrits</th>
                        <th>Actions</th>
                        <th>Statut</th>
                    </tr>

                        {% for session in futureSessions %} 
                            <tr>
                                <td>{{ session.formation }}</td>
                                <td><a href="{{ path('show_session', {'id': session.id}) }}">{{ session.intitule }}</a> </td>
                                <td>{{ session.dateDebut | date("d-m-Y") }}</td>
                                <td>{{ session.dateFin | date("d-m-Y") }}</td> 
                                <td> {{ session.stagiaires | length }} / {{ session.nbPlaces }}</td>
                                <td>
                                    <a href='{{ path('edit_session', {'id': session.id}) }}'>Edit</a>
                                    <a href="{{ path('remove_session', {'id': session.id}) }}">Supprimer</a>
                                </td>
                                {% if session.stagiaires | length == session.nbPlaces %}
                                    <td class="complet">Complet</td>      
                                {% else %}  
                                    <td class="ouvert">Ouvert</td>     
                                {% endif %}       
                            </tr>  
                        {% endfor %}    

                </table>       
                    {% else %}      
                            <p>Aucune session à venir..</p>
                    {% endif %}                         
            </div>

            <div class="element">
                <h2>Sessions passées</h2>

                <table>
                    <tr>
                        <th>Formation</th>
                        <th>Session</th>
                        <th>Date de début</th>
                        <th>Date de fin</th>
                        <th>Inscrits</th>
                        <th>Actions</th>
                        <th>Statut</th>
                    </tr>
                    {% for session in pastSessions %}   
                        <tr>
                            <td>{{ session.formation }}</td>
                            <td><a href="{{ path('show_session', {'id': session.id}) }}">{{ session.intitule }}</a> </td>
                            <td>{{ session.dateDebut | date("d-m-Y") }}</td>
                            <td>{{ session.dateFin | date("d-m-Y") }}</td> 
                            <td> {{ session.stagiaires | length }} / {{ session.nbPlaces }}</td>
                            <td>
                                <a href='{{ path('edit_session', {'id': session.id}) }}'>Edit</a>
                                <a href="{{ path('remove_session', {'id': session.id}) }}">Supprimer</a>
                            </td>
                            <td>x</td>                
                        </tr>
                    {% endfor %}            
                </table>                  
            </div>
        </div>
    {% else %}
        <p>Merci de bien vouloir vous connecter pour accéder au contenu</p>
    {% endif %}
    </div>



{% endblock %}
