{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Sessions </h1>

    <h2>Sessions en cours</h2>
    {% for session in progressSessions %}   
        <p>{{ session.intitule }} {{ session.dateDebut | date("d-m-Y") }} {{ session.dateFin | date("d-m-Y") }} {{ session.formation }}</p>
    {% endfor %}

    <h2>Sessions à venir</h2>
    {% for session in futureSessions %}   
        <p>{{ session.intitule }} {{ session.dateDebut | date("d-m-Y") }} {{ session.dateFin | date("d-m-Y") }} {{ session.formation }}</p>
    {% endfor %}

    <h2>Sessions passées</h2>
    {% for session in pastSessions %}   
        <p>{{ session.intitule }} {{ session.dateDebut | date("d-m-Y") }} {{ session.dateFin | date("d-m-Y") }} {{ session.formation }}</p>
    {% endfor %}


</div>
{% endblock %}
