{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

        {% if app.session.flashBag.has('success') %}
            {% for msg in app.flashes('success') %}        
                <div class="alert-success">
                    {{ msg }}
                </div>
            {% endfor %}             
        {% endif %}
    {% if app.user.isVerified %}
        <div class="container-page">
    
            <h1> Accueil </h1>

            <div class="page-elements">

                <div class="element">
                    <p id="hello">Bonjour {{ app.user.pseudo }}</p>                
                </div>

                <div class="element">
                    <h2>Sessions en cours</h2>
                    {% if progressSessions | length > 0 %}
                    <table>
                        <tr>
                            <th>Session</th>                        
                            <th>Formation</th>
                            <th>Date de début</th>
                            <th>Date de fin</th>
                            <th>Inscrits</th>
                            <th>Actions</th>
                            <th>Statut</th>
                        </tr>
                        {% for session in progressSessions %}   
                            <tr>
                                <td data-label="Session"><a class="session-title" href="{{ path('show_session', {'id': session.id}) }}">{{ session.intitule }}</a> </td>
                                <td data-label="Formation"><a class="formation-title" href="{{ path('show_formation', {'id': session.formation.id}) }}">{{ session.formation }}</a></td>
                                <td data-label="Date de début">{{ session.dateDebut | date("d-m-Y") }}</td>
                                <td data-label="Date de fin">{{ session.dateFin | date("d-m-Y") }}</td> 
                                <td data-label="Inscrits"> {{ session.stagiaires | length }} / {{ session.nbPlaces }}</td>
                                <td data-label="Actions" class="table-actions">
                                    <div class="action-icons">
                                        <a href='{{ path('edit_session', {'id': session.id}) }}'><i class="fa-regular fa-pen-to-square"></i></a>
                                        <a href="{{ path('remove_session', {'id': session.id}) }}"><i class="fa-regular fa-trash-can"></i></a>                                    
                                    </div>
                                </td>
                                {% if session.stagiaires | length == session.nbPlaces %}
                                    <td data-label="Statut" class="complet">Complet</td>      
                                {% else %}  
                                    <td data-label="Statut" class="ouvert">Ouvert</td>     
                                {% endif %}                     
                            </tr>
                        {% endfor %}            
                    </table>   
                    {% else %}   
                        <p class="no-data">Aucune session en cours..</p>
                    {% endif %}
                </div>

                <div class="element">

                    <h2>Sessions à venir</h2>
                        {% if futureSessions | length > 0 %}
                    <table>
                        <tr>
                            <th>Session</th>                        
                            <th>Formation</th>
                            <th>Date de début</th>
                            <th>Date de fin</th>
                            <th>Inscrits</th>
                            <th>Actions</th>
                            <th>Statut</th>
                        </tr>

                            {% for session in futureSessions %} 
                                <tr>
                                    <td data-label="Session"><a class="session-title" href="{{ path('show_session', {'id': session.id}) }}">{{ session.intitule }}</a> </td>
                                    <td data-label="Formation"><a class="formation-title" href={{ path('show_formation', {'id': session.formation.id}) }}"">{{ session.formation }}</a></td>
                                    <td data-label="Date de début">{{ session.dateDebut | date("d-m-Y") }}</td>
                                    <td data-label="Date de fin">{{ session.dateFin | date("d-m-Y") }}</td> 
                                    <td data-label="Inscrits"> {{ session.stagiaires | length }} / {{ session.nbPlaces }}</td>
                                    <td data-label="Actions" class="table-actions">
                                        <div class="action-icons">
                                            <a href='{{ path('edit_session', {'id': session.id}) }}'><i class="fa-regular fa-pen-to-square"></i></a>
                                            <a href="{{ path('remove_session', {'id': session.id}) }}"><i class="fa-regular fa-trash-can"></i></a>
                                        </div>
                                    </td>
                                    {% if session.stagiaires | length == session.nbPlaces %}
                                        <td data-label="Statut" class="complet">Complet</td>      
                                    {% else %}  
                                        <td data-label="Statut" class="ouvert">Ouvert</td>     
                                    {% endif %}       
                                </tr>  
                            {% endfor %}    

                    </table>       
                        {% else %}      
                                <p class="no-data">Aucune session à venir..</p>
                        {% endif %}                         
                </div>

                <div class="element">
                    <h2>Sessions passées</h2>
                    {% if pastSessions | length > 0 %}
                    <table>
                        <tr>
                            <th>Session</th>                        
                            <th>Formation</th>
                            <th>Date de début</th>
                            <th>Date de fin</th>
                            <th>Inscrits</th>
                            <th>Actions</th>
                            <th>Statut</th>
                        </tr>
                        {% for session in pastSessions %}   
                            <tr>
                                <td data-label="Session"><a class="session-title" href="{{ path('show_session', {'id': session.id}) }}">{{ session.intitule }}</a> </td>
                                <td data-label="Formation"><a class="formation-title" href="{{ path('show_formation', {'id': session.formation.id}) }}">{{ session.formation }}</a></td>
                                <td data-label="Date de début">{{ session.dateDebut | date("d-m-Y") }}</td>
                                <td data-label="Date de fin">{{ session.dateFin | date("d-m-Y") }}</td> 
                                <td data-label="Inscrits"> {{ session.stagiaires | length }} / {{ session.nbPlaces }}</td>
                                <td data-label="Actions" class="table-actions">
                                    <div class="action-icons">
                                        <a href='{{ path('edit_session', {'id': session.id}) }}'><i class="fa-regular fa-pen-to-square"></i></a>
                                        <a href="{{ path('remove_session', {'id': session.id}) }}"><i class="fa-regular fa-trash-can"></i></a>
                                    </div>
                                </td>
                                <td data-label="Statut">x</td>                
                            </tr>
                        {% endfor %}            
                    </table>   
                    {% else %}    
                        <p class="no-data">Pas de sessions passées..</p>
                    {% endif %}
                </div>
            </div>
    {% else %}
        <div class="verifier-mail-page">
            <h2>Merci de bien vouloir vérifier vos mails pour accéder au contenu</h2>        
        </div>
    {% endif %}
        </div>



{% endblock %}
