{% extends 'base.html.twig' %}

{% block title %}Détail Session{% endblock %}

{% block body %}

    {% if app.session.flashBag.has('success') %}
        {% for msg in app.flashes('success') %}        
            <div class="alert-success">
                {{ msg }}
            </div>
        {% endfor %}             
    {% endif %}

    <div class="container-page">
        <h1> Détail Session {{ session }} </h1>

        {# <a href="{{ path('add_programme', {'idSession': session.id}) }}">Ajouter
        module</a> #}

        {# {{ form(formAddProgramme) }} #}

        <div class="page-elements">
            <p><a href="{{ path('app_session') }}">Retour</a></p>       
            
            <div class="element">
                <h2>Récapitulatif :</h2>
                <ul>
                    {% if session.referent != NULL %}
                    <li>Formateur référent : {{ session.referent }}</li>
                    {% else %}
                    <li> Pas de formateur référent </li>
                    {% endif %}

                    <li>Date de début : {{ session.dateDebut | date("d-m-Y") }}</li>
                    <li>Date de fin : {{ session.dateFin | date("d-m-Y") }}</li>
                    <li>Nombre de places : {{ session.nbPlaces }}</li>
                    <li>Places disponibles : {{ session.nbPlaces - session.stagiaires | length
                        }}</li>
                    <li>Nombre de modules : {{ session.programmes | length }} </li>
                </ul>            
            </div>

            <div class="element">
                <h2>Programme :</h2>
                {% if session.programmes | length > 0 %}
                <table>
                    <tr>
                        <th>Module</th>
                        <th>Durée (jours)</th>
                        <th>Catégorie</th>
                        <th>Action</th>
                    </tr>
                    {# {{dump(formInfos)}} #}
                    {% for programme in session.programmes %}
                    <tr>

                        <td>{{ programme.module }}</td>
                        <td>{{ programme.duree }} jours</td>
                        <td>{{ programme.module.categorie }}</td>
                        <td><a href="{{ path('delete_programme', {'id': programme.id,
                                'idSession': session.id}) }}">Déprogrammer</a> </td>
                    </tr>
                    {% endfor %}
                </table>  
                {% else %} 
                    <p class="no-data">Pas de programme pour le moment...</p>
                {% endif %}
            </div>

            <div class="element">
                <h2> Modules non programmés :</h2>
                {% if formInfos | length > 0 %}
                <table>
                    <tr>
                        <th>Module</th>
                        <th>Catégorie</th>
                        <th>Durée (jours)</th>
                        <th>Action</th>
                    </tr>
                    {# On boucle déjà sur les modules non programmés dans le controller, 
                        donc essayer d'avoir un module->getIntitule et autres infos pour qu'elles
                        soient toutes ensemble #}
                    {% for index in formInfos %}
                    <tr>
                        {# <td>{{ index.module.vars.data.intitule }} </td> #}
                        {# Avant le début du formulaire, on récupère le module qui se trouve dans 
                            index grâce à la boucle foreach de sessionController, en faisant un dump de index et en cherchant les datas que l'on souhaite #}
                        <td>{{ index.vars.data.module.intitule }}</td>
                        {{ form_start(index) }}    
                        {# On récupère le nom de la catégorie de la même façon qu'auparavant #}
                        <td>{{ index.vars.data.module.categorie.intitule }}</td>                      
                        <td>{{ form_row(index.duree) }} </td>
                        <td>{{ form_row(index.submit) }}</td>
                    </tr>
                        {{ form_end(index) }}
                    {% endfor %} 
                </table> 
                {% else %} 
                    <p class="no-data">Pas de modules non programmés</p>
                {% endif %}
            </div>


            {# <table>
                <tr>
                    <th>Module</th>
                    <th>Catégorie</th>
                    <th>Durée (jours)</th>
                    <th>Action</th>
                </tr>
                {% for module in modulesNonProgrammes %} 
                <tr>

                    <td>{{ module.intitule }}</td>
                    <td>{{ module.categorie }}</td>

                    <td></td>

                    <td><a href="#"></a> </td>
                </tr> 
                {% endfor %}

            </table> #}

            <div class="element">
                <h2>STAGIAIRES</h2>

                {% if session.stagiaires | length == 0 %}
                <p class="no-data">Pas de stagiaires inscrits</p>
                {% else %}
                <table>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Action</th>
                        <th>Fiche</th>
                    </tr>
                    {% for stagiaire in session.stagiaires %}
                    <tr>
                        <td>{{ stagiaire.nom }}</td>
                        <td>{{ stagiaire.prenom }}</td>
                        <td><a href="{{ path('remove_stagiaireSession', {'id': session.id,
                                'idStagiaire': stagiaire.id}) }}">Désinscrire</a></td>
                        <td><a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">Voir
                                fiche stagiaire</a></td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}            
            </div>

            <div class="element">
                <h2>STAGIAIRES NON INSCRITS</h2>
                {% if stagiairesNonInscrits | length > 0 %}
                <table>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Action</th>
                        <th>Fiche</th>
                    </tr>
                    {% for stagiaire in stagiairesNonInscrits %}
                    <tr>
                        <td>{{ stagiaire.nom }}</td>
                        <td>{{ stagiaire.prenom }}</td>
                        {% if session.stagiaires | length <session.nbPlaces %}
                        <td><a href="{{ path('add_stagiaireSession', {'id': session.id,
                                'idStagiaire': stagiaire.id}) }}">Inscrire</a></td>
                        {% else %}
                        <td>x</td>
                        {% endif %}
                        <td><a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">Voir
                                fiche stagiaire</a></td>
                    </tr>
                    {% endfor %}
                </table>        
                {% else %} 
                    <p class="no-data">Pas de stagiaires non inscrits.</p>
                {% endif %}
            </div>
        </div>   
    </div>

{% endblock %}