{% extends 'base.html.twig' %}

{% block title %}Détail Session{% endblock %}

{% block body %}

<h1> Détail Session {{ session }} </h1>

<p><a href="{{ path('app_session') }}">Retour</a></p>


{# <a href="{{ path('add_programme', {'idSession': session.id}) }}">Ajouter
    module</a> #}

{# {{ form(formAddProgramme) }} #}


<h2>Récapitulatif :</h2>
<ul>
    {% if session.referent != NULL %}
    <li>Formateur référent : {{ session.referent }}</li>
    {% else%}
    <li> Pas de formateur référent </li>
    {% endif %}

    <li>Date de début : {{ session.dateDebut | date("d-m-Y") }}</li>
    <li>Date de fin : {{ session.dateFin | date("d-m-Y") }}</li>
    <li>Nombre de places : {{ session.nbPlaces }}</li>
    <li>Places disponibles : {{ session.nbPlaces - session.stagiaires | length
        }}</li>
    <li>Nombre de modules : {{ session.programmes | length }} </li>
</ul>


<h2>Programme :</h2>

<table>
    <tr>
        <th>Module</th>
        <th>Durée (jours)</th>
        <th>Catégorie</th>
    </tr>
    {# {{dump(formInfos)}} #}
    {% for programme in session.programmes %}
    <tr>

        <td>{{ programme.module }}</td>
        <td>{{ programme.duree }} jours</td>
        <td>{{ programme.module.categorie }}</td>
        <td><a href="{{ path('delete_programme', {'id': programme.id,
                'idSession': session.id}) }}">Déprogrammer</a> </td>
    </tr>
    {% endfor %}
</table>

<h2> Modules non programmés :</h2>

<table>
    <tr>
        <th>Module</th>
        <th>Catégorie</th>
        <th>Durée (jours)</th>
        <th>Action</th>
    </tr>
    {# On boucle déjà sur les modules non programmés dans le controller, 
        donc essayer d'avoir un module->getIntitule et autres infos pour qu'elles
        soient toutes ensemble #}
     {% for index in formInfos %}
     {# {{dump(index)}}  #}
    {{ form_start(index) }}
    {{ form_row(index.duree) }} 

     {{ form_end(index) }}
    {% endfor %} 
    {% for module in modulesNonProgrammes %} 
    <tr>

        <td>{{ module.intitule }}</td>
        <td>{{ module.categorie }}</td>

        <td></td>

        <td><a href="#"></a> </td>
    </tr>
    {% endfor %}

</table>

<h3>STAGIAIRES</h3>

{% if session.stagiaires | length == 0 %}
<p>Pas de stagiaires inscrits</p>
{% else %}
<table>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Action</th>
        <th></th>
    </tr>
    {% for stagiaire in session.stagiaires %}
    <tr>
        <td>{{ stagiaire.nom }}</td>
        <td>{{ stagiaire.prenom }}</td>
        <td><a href="{{ path('remove_stagiaire', {'id': session.id,
                'idStagiaire': stagiaire.id}) }}">Désinscrire</a></td>
        <td><a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">Voir
                fiche stagiaire</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}


<h3>STAGIAIRES NON INSCRITS</h3>

<table>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Action</th>
    </tr>
    {% for stagiaire in stagiairesNonInscrits %}
    <tr>
        <td>{{ stagiaire.nom }}</td>
        <td>{{ stagiaire.prenom }}</td>
        {% if session.stagiaires | length <session.nbPlaces %}
        <td><a href="{{ path('add_stagiaireSession', {'id': session.id,
                'idStagiaire': stagiaire.id}) }}">Inscrire</a></td>
        {% else %}
        <td>x</td>
        {% endif %}
        <td><a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">Voir
                fiche stagiaire</a></td>
    </tr>
    {% endfor %}

</table>



{% endblock %}