{% extends 'base.html.twig' %}

{% block title %}Détail Session{% endblock %}

{% block body %}

    <h1> Détail Session {{ session }} </h1>

    <p><a href="{{ path('app_session') }}">Retour</a></p>

    <p><a href=''>Modifier la session</a></p>

    <a href="{{ path('add_programme', {'idSession': session.id}) }}">Ajouter module</a>

    {# {{ form(formAddProgramme) }} #}


    <h2>Programme :</h2>

    <table>
        <tr>
            <th>Module</th>
            <th>Durée (jours)</th>
            <th>Catégorie</th>
        </tr>
        {% for programme in session.programmes %}
        <tr>   

            <td>{{ programme.module }}</td> 
            <td>{{ programme.duree }} jours</td>
            <td>{{ programme.module.categorie }}</td>             
            <td><a href="{{ path('delete_programme', {'id': programme.id, 'idSession': session.id}) }}">Supprimer le module</a> </td>              
        </tr>
        {% endfor %}        
    </table>

    <h3>STAGIAIRES</h3>

    <table>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
        </tr>
        {% for stagiaire in session.stagiaires %}
            <tr>
                <td>{{ stagiaire.nom }}</td>
                <td>{{ stagiaire.prenom }}</td>     
                <td><a href="{{ path('remove_stagiaire', {'id': session.id, 'idStagiaire': stagiaire.id}) }}">Désinscrire</a></td>         
            </tr>
        {% endfor %}        
    </table>

    <h3>STAGIAIRES NON INSCRITS</h3>

    <table>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
        </tr>
        {% for stagiaire in stagiairesNonInscrits %}
            <tr>
                <td>{{ stagiaire.nom }}</td>
                <td>{{ stagiaire.prenom }}</td>     
                <td><a href="{{ path('add_stagiaireSession', {'id': session.id, 'idStagiaire': stagiaire.id}) }}">Inscrire</a></td>         
            </tr>
        {% endfor %}        
    </table>

{% endblock %}