{% extends 'base.html.twig' %}

{% block title %}Détail Session{% endblock %}

{% block body %}

    <h1> Détail Session {{ session }} </h1>

    <p>Inscrire un stagiaire</p>
    <p>Ajouter module</p>


    <h2>Programme :</h2>
    {% for programme in session.programmes %}
        <p>
            {{ programme.module }} {{ programme.duree }} jours
        </p>
        <a href="#">Supprimer module</a>        
    {% endfor %}


    <h3>STAGIAIRES</h3>
    {% for stagiaire in session.stagiaires %}
        <p>
            {{ stagiaire.nom }} {{ stagiaire.prenom }} jours
        </p>   
    {% endfor %}

{% endblock %}