{% extends 'base.html.twig' %}

{% block title %} Ajout module{% endblock %}

{% block body %}

    <div class="container-page">
        <h1> Ajouter un module </h1>

        <div class="page-elements">
            <div class="element">
                <a class="retour-link" href="{{ path('app_session') }}">Retour</a>                   
            </div>
            <div class="element">
                {{ form_start(formAddModule) }}
                    {{ form_row(formAddModule.intitule) }}
                    {{ form_row(formAddModule.categorie) }}
                    {{ form_row(formAddModule.submit) }}
                {{ form_end(formAddModule) }}                      
            </div>
        </div>
    </div>



{% endblock %}