{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}

    {% if app.session.flashBag.has('success') %}
        {% for msg in app.flashes('success') %}        
            <div class="alert-success">
                {{ msg }}
            </div>
        {% endfor %}             
    {% endif %}

    <div class="container-page">
    {% if app.user %}
        <h1>Liste des catégories</h1>

        <div class="page-elements">

            <a href="{{ path('add_categorie') }}">Ajouter une Catégorie</a>
            {% if listeCategories | length > 0 %}
            <table>
                <tr>
                    <th>Intitule</th>
                    <th>Nombre de modules</th>
                    <th>Actions</th>
                </tr>
                {% for categorie in listeCategories %}        
                <tr>
                    <td><a href="{{ path('show_categorie', {'id': categorie.id}) }}">{{ categorie }}</a></td>
                    <td><p>{{ categorie.modules | length }}</p></td>
                    <td class="table-actions">
                        <a href="{{ path('edit_categorie', {'id': categorie.id}) }}"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a href="{{ path('remove_categorie', {'id': categorie.id}) }}"><i class="fa-regular fa-trash-can"></i></a>
                    </td>
                </tr>
                {% endfor %}        
            </table>  
            {% else %} 
                <p class="no-data">Pas de catégories..</p>
            {% endif %}
        </div>
    {% else %}
        <p>Merci de bien vouloir vous connecter pour accéder au contenu</p>
    {% endif %}
    </div>

{% endblock %}
