{% extends 'base.html.twig' %}

{% block title %}Détail Session{% endblock %}

{% block body %}

    {% if app.session.flashBag.has('success') %}
        {% for msg in app.flashes('success') %}        
            <div class="alert-success">
                {{ msg }}
            </div>
        {% endfor %}             
    {% endif %}

    <div class="container-page">
        <h1> Détail Catégorie {{ categorie }} </h1>

        <div class="page-elements">
            <p><a href="{{ path('app_categorie') }}">Retour</a></p>       

            <div class="element">
                <h2>Modules :</h2>
                {% if categorie.modules | length > 0 %}
                <table>
                    <tr>
                        <th>Intitule</th>
                        <th>Actions</th>
                    </tr>
                    {# {{dump(formInfos)}} #}
                    {% for module in categorie.modules %}
                    <tr>

                        <td>{{ module.intitule }}</td>
                        <td>
                            <a href="{{ path('delete_module', {'id': module.id,
                            'idCategorie': categorie.id}) }}">Supprimer</a> 
                        </td>
                    </tr>
                    {% endfor %}
                </table>  
                {% else %} 
                    <p class="no-data">Pas de modules pour cette catégorie..</p>
                {% endif %}
            </div>

            <div class="element">
                {{ form_start(formAddModule) }}
                    {{ form_row(formAddModule.intitule) }}
                    {{ form_row(formAddModule.submit) }}
                {{ form_end(formAddModule) }}
            </div>
        </div>   
    </div>

{% endblock %}