{% extends 'base.html.twig' %}

{% block title %} Ajout formateur{% endblock %}

{% block body %}

    <div class="container-page">
        {% if edit %}
            <h1>Editer le formateur</h1>
        {% else %}
            <h1> Ajouter un formateur </h1>    
        {% endif %}

                   

        <div class="page-elements">

            <a class="retour-link" href="{{ path('app_formateur') }}">Retour</a>

            <div class="element">
                {{ form_start(formAddFormateur) }}
                <div class="formulaire">
                    <div class="form-element">
                        <label>Nom :</label>
                        <p>{{ form_row(formAddFormateur.nom) }}</p>
                    </div>
                    <div class="form-element">
                        <label>Prénom :</label>
                        <p>{{ form_row(formAddFormateur.prenom) }}</p>
                    </div>
                    <div class="form-element">
                        <p>{{ form_row(formAddFormateur.submit) }}</p>
                    </div>
                </div>
                {{ form_end(formAddFormateur) }}                  
            </div>
             
        </div>
    </div>

{% endblock %}