{% extends 'base.html.twig' %}

{% block title %}Formateurs{% endblock %}

{% block body %}

    {% if app.session.flashBag.has('success') %}
        {% for msg in app.flashes('success') %}        
            <div class="alert-success">
                {{ msg }}
            </div>
        {% endfor %}             
    {% endif %}

    <div class="container-page">
    {% if app.user %}
        <h1>Liste des formateurs</h1>

        <div class="page-elements">
            <a class="add-link" href="{{ path('add_formateur') }}">Ajouter un formateur</a>
            {% if listeFormateurs | length > 0 %}
            <table>
                <tr>
                    <th>Nom / Pénom</th>
                    <th>Actions</th>
                </tr>
                {% for formateur in listeFormateurs %}
                <tr>
                    <td><a class="intitule-link" href="{{ path('show_formateur', {'id': formateur.id}) }}">{{ formateur }}</a></td>
                    <td class="table-actions">
                        <a href="{{ path('edit_formateur', {'id': formateur.id}) }}"><i class="fa-regular fa-pen-to-square"></i></a>                        
                        <a href="{{ path('remove_formateur', {'id': formateur.id}) }}"><i class="fa-regular fa-trash-can"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </table>   
            {% else %}  
                <p class="no-data">Pas de formateurs..</p>
            {% endif %}
        </div>
    {% else %}
        <p>Merci de bien vouloir vous connecter pour accéder au contenu</p>
    {% endif %}
    </div>



{% endblock %}
